<div class="flex flex-column justify-content-between" style="min-height: 98vh; gap: 20px">
  <div>
    <div class="w-full flex justify-content-center">
      <h1 style="cursor: pointer" (click)="home()">
        <img src="/chatot_title.png" width="60"/>
        CHATOT TRAINING CAMP
      </h1>
    </div>

    <div id="main-container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div id="settings">
    <app-language-settings/>
    <app-sound-settings/>
  </div>

</div>

<app-snackbar/>
