h1{
  font-family: 'PMDTitle';
  position: relative;

  color: #FEFFFF;
  letter-spacing: 4px;
  --inner-offset: 2px;
  --inner-offset-color: #022636;

  --offset: 4px;
  --offset-color: #48A5D1;

  --blur: 0px;

  text-shadow:
    var(--inner-offset) 0 var(--blur) var(--inner-offset-color),
    var(--inner-offset) var(--inner-offset) var(--blur) var(--inner-offset-color),
    0 var(--inner-offset) var(--blur) var(--inner-offset-color),
    calc(var(--inner-offset) * -1) var(--inner-offset) var(--blur) var(--inner-offset-color),
    calc(var(--inner-offset) * -1) 0 var(--blur) var(--inner-offset-color),
    calc(var(--inner-offset) * -1) calc(var(--inner-offset) * -1) var(--blur) var(--inner-offset-color),
    0 calc(var(--inner-offset) * -1) var(--blur) var(--inner-offset-color),
    var(--inner-offset) calc(var(--inner-offset) * -1) var(--blur) var(--inner-offset-color),
    var(--offset) 0 var(--blur) var(--offset-color),
    var(--offset) var(--offset) var(--blur) var(--offset-color),
    0 var(--offset) var(--blur) var(--offset-color),
    calc(var(--offset) * -1) var(--offset) var(--blur) var(--offset-color),
    calc(var(--offset) * -1) 0 var(--blur) var(--offset-color),
    calc(var(--offset) * -1) calc(var(--offset) * -1) var(--blur) var(--offset-color),
    0 calc(var(--offset) * -1) var(--blur) var(--offset-color),
    var(--offset) calc(var(--offset) * -1) var(--blur) var(--offset-color),;

  img{
    image-rendering: auto;
    position: absolute;
    left: -45px;
    top: -25px;
    transform: rotate(-20deg);
  }

  @media (max-width: 450px) {
    &{
      font-size: 18px;
    }
  }
}

#main-container{
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;

  div{
    max-width: 1400px;
  }
}

#settings{

  @media (max-aspect-ratio: 1.4) {
    & {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
    }
  }

  display: flex;
  justify-content: space-between;

  #language-settings{
    display: flex;
    gap: 4px;

    svg{
      cursor: pointer;
      &:not(.selected){
        filter: grayscale(1);
      }
    }

  }

  #sound-settings{
    display: flex;
    align-items: center;

    input {
      -webkit-appearance: none;
      background-color: transparent;
      background-size: 100%;
      width: 320px;
      aspect-ratio: 10;
      image-rendering: pixelated;
      z-index: 10;

      padding: 0;
      margin-left: 1.5em;
      cursor: col-resize;
      overflow: hidden;

      &::-webkit-slider-thumb {
        opacity: 0;
      }

      &::-moz-range-thumb {
        opacity: 0;
      }

      @media (max-width: 420px) {
        width: 240px;
      }
    }
  }
}


