#pp_grid{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 4px;
  background-color: white;
  padding: 4px;

  img {

    &:not(.unavailable){
      cursor: pointer;

      &:hover{
        filter: unset;
      }
    }

    &.disabled{
      filter: opacity(.5);
    }

    &.unavailable{
      filter: grayscale(1);
    }

  }
}
