<div class="flex flex-column h-full">
  <div style="display: grid; grid-template: 1fr / 1fr 2fr">
    <img [src]="room.currentPlayer.profilePictureSrc" (click)="op.toggle($event)" class="cursor-pointer" width="250"/>
    <div class="flex justify-content-center align-items-center">
      <h3>{{room.currentPlayer.name}}</h3>
    </div>
  </div>
  <div class="divider">
    <span>Room parameters</span>
  </div>

  <div class="flex flex-column justify-content-between" style="flex-grow: 1">
    <div class="flex flex-column justify-content-between" style="gap: 1em">
      <div class="flex justify-content-between">
        <div class="flex align-items-center">Generations</div>
        <div class="flex justify-content-end">
          <app-select-button
            name="generations" ngDefaultControl
            [disabled]="!room.currentPlayer.isCreator"
            [options]="[1, 2, 3, 4, 5, 6, 7, 8, 9]"
            [multiple]="true"
            [ngModel]="room.params.generations"
            (ngModelChange)="updateParams('generations', $event)"
          />
        </div>
      </div>

      <div class="flex justify-content-between">
        <div class="flex align-items-center">Round count</div>
        <div class=" flex justify-content-end">
          <app-select-button
            name="round-count" ngDefaultControl
            [disabled]="!room.currentPlayer.isCreator"
            [options]="[10, 25, 50]"
            [ngModel]="room.params.nbRounds"
            (ngModelChange)="updateParams('nbRounds', $event)"
          />
        </div>
      </div>

      <div class="flex justify-content-between">
        <div class="flex align-items-center">Round duration (s)</div>
        <div class="flex justify-content-end">
          <app-select-button
            [disabled]="!room.currentPlayer.isCreator"
            [options]="[10, 20, 30]"
            [ngModel]="room.params.roundDurationSeconds"
            (ngModelChange)="updateParams('roundDurationSeconds', $event)"
          />
        </div>
      </div>

      <div class="flex justify-content-between">
        <div class="flex align-items-center">Total duration</div>
        <div class="flex justify-content-end align-items-center">
          {{totalDurationText}}
        </div>
      </div>
    </div>

    <div class="flex justify-content-center" *ngIf="room.currentPlayer.isCreator">
      <button (click)="play()" style="width: 50%">Play !</button>
    </div>
  </div>
</div>

<p-overlayPanel #op>
  <div class="flex">
    <p-carousel [value]="pp" [numVisible]="3" [numScroll]="3" styleClass="custom-carousel">
      <ng-template let-index pTemplate="item">
        <img (click)="hub.changePP(index)" [src]="'https://raw.githubusercontent.com/PMDCollab/SpriteCollab/master/portrait/'+index.toString().padStart(4, '0')+'/Normal.png'" width="100" class="cursor-pointer"/>
      </ng-template>
    </p-carousel>
  </div>
</p-overlayPanel>
