<div class="flex flex-column" style="gap: 1em">
  <div class="flex justify-content-center align-items-center" style="gap: 2em">
    <h3 style="margin: 0;">Round {{ room().questionIndex + 1 }} / {{ room().params.nbRounds }}</h3>
    @if(isMCQ()){
      <app-sound-player
        [dexId]="room().currentQuestion.answer"
        [disabled]="room().isInTimer"
      />
    }
  </div>

  @if (isMCQ()){
    <app-mcq></app-mcq>
  } @else {
    <app-silhouette></app-silhouette>
  }

  <div class="flex justify-content-center">
    @if (room().IsPlaying) {
      <div class="timer">
        <img src="/ui/timer.png" alt="">
        @for (bar of barsArray(); track bar) {
          <img [src]="'/ui/' + (bar ? 'green' : 'red') + '_bar.png'">
        }
      </div>
    }
    @if (room().isInTimer) {
      New round starting soon ...
    }
  </div>
</div>

<div style="display: none">
  @for (proposition of room().currentQuestion.propositions; track proposition) {
    <img
      [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/pokemon/'+proposition+'.png'"/>
  }
</div>
