<div class="flex flex-column-reverse h-full" style="gap: 0.5em">

    <div class="flex">
        <input type="text" style="flex-grow: 1" [(ngModel)]="user_message" (keydown.enter)="sendMessage()"/>
        <button style="padding-left: 8px; padding-right: 8px" (click)="sendMessage()">Send</button>
    </div>

  <div class="flex flex-column-reverse h-full" style="overflow-y: scroll; scrollbar-width: none; max-height: 490px;">
    <ng-container *ngFor="let message of messages">
      <ng-container *ngIf="message.fromServer; else player_msg">
        <div><span>{{message.content}}</span></div>
      </ng-container>
      <ng-template #player_msg>
        <div><span>{{message.playerName}}</span> : {{message.content}}</div>
      </ng-template>
    </ng-container>
  </div>
</div>
