<div class="box flex flex-column align-items-center" style="min-width: 300px">
  <div class="divider">
    <div>Hint</div>
  </div>

  <div class="hint-container">
    <div class="hint-grid">

      <div class="top">
        <div class="unit">
          <div>
            <span (click)="languageManager.units.set('mKg')">m/Kg</span>
            <span (click)="languageManager.units.set('lbsFt')">ft/lbs</span>
          </div>
        </div>
      </div>


      <div class="pk-picture">
        <div id="pk_canvas" [class.displayNone]="!loaded || tries().length === 0">
          @for (level of levelsToDisplay(); track level; let first = $first) {
            <app-pixelized-img [img]="img()" [level]="level" [disabled]="!first"/>
          }
          <img [src]="imgUrl()" width="96" [class.displayNone]="searchStatus() === SearchStatus.Searching">
        </div>
        <img src="/questionmark.png" [class.displayNone]="tries().length > 0">
      </div>


      <div class="name-and-genera fine-border shadow dex" [ngClass]="[languageManager.selected_language()]">
        <div class="name">
          <div></div>
          <div class="text-at-bottom">
            {{ displayDexId() ? dexId().toString().padStart(4, '0') : '???' }}
            {{ over() ? languageManager.dailyName() : '???' }}
          </div>
        </div>
        <div class="genera text-at-bottom justify-content-end">
          {{ displayGenera() ? languageManager.dailyGenera() : '???' }}
        </div>
      </div>

      <div class="types">
        @for (type of displayTypes() ? TYPES[dexId() - 1] : ['UNKNOWN']; track type) {
          <img [src]="'/types/'+type+'.png'" style="width: 100%">
        }
      </div>


      <div class="height-size fine-border shadow dex">
        <div>HT</div>
        <div>{{ displayHeight() ? languageManager.dailySize() : '???' }}</div>
        <div>{{ languageManager.sizeUnit() }}</div>
        <div>WT</div>
        <div>{{ displayHeight() ? languageManager.dailyWeight() : '???' }}</div>
        <div>{{ languageManager.weightUnit() }}</div>
      </div>


      <div class="flavor-text shadow dex"
           [ngStyle]="['ko', 'jap'].includes(languageManager.selected_language()) ? {'font-size': '16px'} : {}">
        <div>
          {{ displayFlavor() ? languageManager.dailyEntry() : '???' }}
        </div>
      </div>

    </div>
  </div>

</div>
