#room{
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
    grid-gap: 4px;
}


@media (max-aspect-ratio: 1.4) {

  #room{
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
  }

  #chatbox-container{
    display: none;
  }
}
