<div id="room">
    <div class="box">
        <app-players-list></app-players-list>
    </div>
    <div class="box">
        <app-room-lobby *ngIf="room().inLobby"></app-room-lobby>
        <app-play *ngIf="room().IsPlaying || room().isInAnswers || room().isInTimer"></app-play>
        <app-scores *ngIf="room().isInScores"/>
    </div>
    <div class="box" id="chatbox-container">
        <app-chatbox></app-chatbox>
    </div>

    <div style="display: none;">
        <div *ngFor="let player of room().players">
            <div *ngFor="let emotion of emotions">
                <img [src]="player.profilePictureSrcWithEmotion(emotion)">
            </div>
        </div>
    </div>
</div>
