#propositions{
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1em;

  @media (max-aspect-ratio: 1.4) {
    &{
      grid-template: repeat(4, 1fr) / 1fr;
      gap: 2px;
    }
  }
}

.timer{
    width: 50%;
    display: grid;
    grid-template: 1fr / calc(1fr * 16/7) repeat(15, 1fr);
    grid-gap: 4px;

    & img{
        width: 100%;
    }
}

#play{
  cursor: pointer;
}
.disabled{
  filter: brightness(.4);
  cursor: not-allowed;
}
