<div class="grid">
    <div class="col-8 col-offset-2">
        <audio controls autoplay class="w-full" *ngIf="room.IsPlaying; else fakeAudio">
            <source [src]="'/sounds/'+room.currentQuestion.answer.toString().padStart(4, '0')+'.ogg'" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
        <ng-template #fakeAudio>
            <audio controls class="w-full">
                <source src="prout" type="audio/ogg">
            </audio>
        </ng-template>
        Round {{room.questionIndex+1}} / {{room.params.nbRounds}}
    </div>
    <div class="col-2"></div>
    
    <ng-container *ngFor="let pkid of room.currentQuestion.propositions">
        <app-guess-card [pkid]="pkid" 
            [correct]="answer > 0 && pkid === room.currentQuestion.answer"
            [wrong]=" pkid === answer && answer !== room.currentQuestion.answer"
            (onClick)="sendAnwser(pkid)"
        ></app-guess-card>
    </ng-container>

    <div class="col-12">
        <div *ngIf="room.IsPlaying" class="h-4rem timer" [ngStyle]="{'--duration': room.params.roundDurationSeconds+'s'}"></div>
        <ng-container *ngIf="room.isBeetweenRound">
            New round starting soon ...
        </ng-container>
    </div>
</div>