#propositions{
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1em;
}

.timer{
    width: 50%;
    display: grid;
    grid-template: 1fr / calc(1fr * 16/7) repeat(15, 1fr);
    grid-gap: 4px;
    
    & img{
        width: 100%;
    }
}