<div class="flex flex-column" style="gap: 1em">
  <div class="flex justify-content-center align-items-center" style="gap: 2em">
    <h3 style="margin: 0;">Round {{room().questionIndex+1}} / {{room().params.nbRounds}}</h3>
    <app-sound-player [dexId]="room().currentQuestion.answer" *ngIf="room().IsPlaying; else fakeReplay"></app-sound-player>
    <ng-template #fakeReplay>
      <img src="/ui/replay.png" alt="" width="40" class="disabled">
    </ng-template>
  </div>

  <div id="propositions">
    <app-guess-card *ngFor="let proposition of room().currentQuestion.propositions"
                    [pkid]="proposition"
                    [correct]="(answer() > 0 || room().isInAnswers) && proposition === room().currentQuestion.answer"
                    [wrong]="proposition === answer() && answer() !== room().currentQuestion.answer"
                    [disabled]=" answer() > 0 || !room().IsPlaying"
                    (onClick)="sendAnwser(proposition)"
    ></app-guess-card>
  </div>

  <div class="flex justify-content-center">
    <div *ngIf="room().IsPlaying" class="timer">
      <img src="/ui/timer.png" alt="">
      <img *ngFor="let bar of barsArray$ |async" [src]="'/ui/' + (bar ? 'green' : 'red') + '_bar.png'">
    </div>
    <ng-container *ngIf="room().isInTimer">
      New round starting soon ...
    </ng-container>
  </div>
</div>

<div style="display: none">
  <img *ngFor="let proposition of room().currentQuestion.propositions"
       [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/pokemon/'+proposition+'.png'"/>
</div>
