.select-button{
    display: flex;
    gap: 25px;

    span{
        position: relative;
        cursor: pointer;
        padding-left: 14px;

        &:hover, &.selected{
            color: #D7DE25
        }

        .arrow{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            display: none;
        }

        &.selected .arrow{
            display: block;
        }
    }
}