#player_details{
  display: grid;
  grid-template: 1fr / 1fr 2fr;

  h3{
    margin: 4px;
  }

  @media (max-aspect-ratio: 1.4) {
    &{
      grid-template: 1fr / 1fr;
    }
    & > img {
      display: none;
    }
  }
}

#pp_grid{
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 4px;
  background-color: white;
  padding: 4px;

  img {

    &:not(.unavailable){
      cursor: pointer;

      &:hover{
        filter: unset;
      }
    }

    &.disabled{
      filter: opacity(.5);
    }

    &.unavailable{
      filter: grayscale(1);
    }

  }
}


.option-group{
  display: flex;
  justify-content: space-between;
  @media (max-aspect-ratio: 1.4) {
    & {
      flex-direction: column;
    }
  }
}

.option-label{
  display: flex;
  align-items: center;
}

.option-choice{
  display: flex;
  justify-content: end;
  @media (max-aspect-ratio: 1.4) {
    & {
      justify-content: end;
    }
  }
}

