<div class="flex flex-column h-full">
  <input type="text" readonly
    [value]="room().url"
    [ngClass]="{blue: url_copied}"
    style="cursor: pointer; margin-bottom: 1em;"
    (click)="copyUrl()"
    ngDefaultControl name="url"
    />

    <div id="player_details">
      <img [src]="room().currentPlayer.profilePictureSrc" width="250"/>
      <div class="flex flex-column align-items-center">
        <h3>{{room().currentPlayer.name}}</h3>
        <div class="flex align-items-center" style="gap: 20px">
          <button [disabled]="pp_index() === 0" (click)="pp_index.set(pp_index() - 9)">&lt;</button>
          <div id="pp_grid">
            @for (i of one_to_nine; track i) {
              <img
                [ngClass]="{disabled: PPs[pp_index()+i] !== room().currentPlayer.profilePicture, unavailable: isPPUnavailable(PPs[pp_index()+i])}"
                (click)="changePP(PPs[pp_index()+i])"
                [src]="'https://raw.githubusercontent.com/PMDCollab/SpriteCollab/master/portrait/'+(PPs[pp_index()]+i).toString().padStart(4, '0')+'/Normal.png'"
                width="50"
                />
            }
          </div>
          <button [disabled]="pp_index() + 9 === PPs.length" (click)="pp_index.set(pp_index() + 9)">&gt;</button>
        </div>
      </div>
    </div>

    <div class="divider">
      <span>Room parameters</span>
    </div>

    <div class="flex flex-column justify-content-between" style="flex-grow: 1">
      <div class="flex flex-column justify-content-between" style="gap: 1em">
        <div class="option-group">
          <div class="option-label">Generations</div>
          <div class="option-choice">
            <app-select-button
              name="generations" ngDefaultControl
              [disabled]="!room().currentPlayer.isCreator"
              [options]="[1, 2, 3, 4, 5, 6, 7, 8, 9]"
              [multiple]="true"
              [ngModel]="[1, 2, 3]"
              (ngModelChange)="$event.length && updateParams('generations', $event)"
              [grid]="true"
              />
            </div>
          </div>

          <div class="option-group">
            <div class="option-label">Round count</div>
            <div class="option-choice">
              <app-select-button
                name="round-count" ngDefaultControl
                [disabled]="!room().currentPlayer.isCreator"
                [options]="[10, 25, 50]"
                [ngModel]="room().params.nbRounds"
                (ngModelChange)="updateParams('nbRounds', $event)"
                />
              </div>
            </div>

            <div class="option-group">
              <div class="option-label">Round duration (s)</div>
              <div class="option-choice">
                <app-select-button
                  [disabled]="!room().currentPlayer.isCreator"
                  [options]="[15, 30, 45]"
                  [ngModel]="room().params.roundDurationSeconds"
                  (ngModelChange)="updateParams('roundDurationSeconds', $event)"
                  />
                </div>
              </div>

              <div class="option-group">
                <div class="option-label">Total duration</div>
                <div class="option-choice">
                  {{totalDurationText()}}
                </div>
              </div>
            </div>

            <div class="flex flex-column align-items-center">
              <button (click)="play()" style="width: 50%" [disabled]="room().currentPlayer.isCreator ? !other_players_ready() : room().currentPlayer.ready ">
                {{room().currentPlayer.isCreator ? 'Play !' : 'Ready !'}}
              </button>
            </div>
          </div>
        </div>

