<ng-template #loading>
  <div class="box" style="display: flex; align-items: center; flex-direction: column">
    Unable to connect to server
    <img src="/sleep.gif" width="250">
  </div>
</ng-template>
<div id="home" class="box" *ngIf="hub.connected(); else loading">
  <app-select-button
    name="create-join" ngDefaultControl
    *ngIf="!url_mode"
    [options]="create_join"
    [(ngModel)]="join"
    optionLabel="label"
    optionValue="value"
  />

  <input type="text" [(ngModel)]="player_name" placeholder="Enter your name" class="w-full" (keydown.enter)="letsgo()"/>

  <input type="text" [(ngModel)]="room_code" placeholder="Enter room code" class="w-full" *ngIf="join && !url_mode"/>

  <button (click)="letsgo()" [disabled]="player_name.length === 0 || (join && room_code.length === 0)" class="w-full">
      Let's go !
  </button>

</div>

<div class="box" style="margin-top: 1em">
  <button (click)="router.navigate(['daily'])" class="w-full">
    Try daily !
  </button>
</div>

