/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'PMD';
    background-image: url(../public/background.png);
    min-height: 98vh;
}

.box{
    border-image-source: url(../public/ui/border.png);
    border-image-slice: 5 8 5 8 fill;
    border-image-width: 16px 20px 20px 16px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-style: solid;

    padding: 25px;
    image-rendering: pixelated;

    color: white;
    text-shadow: 2px 2px 0 black;
    font-size: 1.5em;

}

button{
    background-color: unset;
    color: unset;
    font-family: unset;
    font-size: 1em;
    padding: 4px;
    background-color: rgba(255, 248, 220, .1);
    border-radius: 4px;

    &:hover:not(:disabled){
        color: #D7DE25;
    }

    &:disabled{
        background: none;
    }
}

input[type="text"]{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'PMD';
    font-size: 1em;
    border-radius: 0;

  &:focus{
    border: none;
  }
}

.divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
 }

 .divider span {
     background: #202020;
     padding:0 10px;
 }

img{
    image-rendering: pixelated;
}

.custom-carousel{
    width: 460px;
}

@font-face{
    font-family: 'PMD';
    src: url(../public/PKMN-Mystery-Dungeon.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


// polyfill primeflex
.w-full{
  width: 100% !important;
}
.h-full{
  height: 100% !important;
}
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-column-reverse{
  flex-direction: column-reverse;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-end{
  align-items: flex-end;
}
.align-items-center{
  align-items: center;
}
