#sound-settings{
  display: flex;
  align-items: center;

  #range{
    width: 320px;
    aspect-ratio: 10;
    image-rendering: pixelated;
    margin-left: 1.5em;
    position: relative;


    @media (max-width: 420px) {
      width: 240px;
    }

    #grid{
      position: absolute;
      display: grid;
      grid-template: 1fr / repeat(20, 1fr);
      width: 100%;
      height: 100%;

      img{
        width: 100%;
        height: 100%;
      }
    }

    input {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-appearance: none;
      background-color: transparent;
      z-index: 10;

      padding: 0;
      cursor: col-resize;
      overflow: hidden;

      &::-webkit-slider-thumb {
        opacity: 0;
      }

      &::-moz-range-thumb {
        opacity: 0;
      }

    }



  }

}
