<div class="flex flex-column-reverse h-full" style="gap: 0.5em">

  <div class="flex">
    <input type="text" style="flex-grow: 1" [(ngModel)]="user_message" (keydown.enter)="sendMessage()" ngDefaultControl name="msg"/>
    <button style="padding-left: 8px; padding-right: 8px" (click)="sendMessage()">Send</button>
  </div>

  <div class="flex flex-column-reverse h-full" style="overflow-y: scroll; scrollbar-width: none; max-height: 490px;">
    @for (message of messages(); track message) {
      @if (message.fromServer) {
        <div><span>{{message.content}}</span></div>
      } @else {
        <div><span>{{message.playerName}}</span> : {{message.content}}</div>
      }
    }
  </div>
</div>
